{% extends 'base.html' %}


{% block main %}
<div class="container">
    <main class="main">
        <div class="helps">
            <div class="help-block">
                <h2>How I can buy public tokens?</h2>
                <p>you can buy public tokens by logging in or registering by going to: http://127.0.0.1:8080/Publictoken</p>
            </div>
            <div class="help-block">
                <h2>How I can create request on White List?</h2>
                <p>you can buy create request by logging in or registering by going to: http://127.0.0.1:8080/addRequest</p>
            </div>
            <div class="help-block">
                <h2>How I can buy public tokens?</h2>
                <p>you can buy private tokens by logging in or registering by going to: http://127.0.0.1:8080/Privatetoken</p>
            </div>
        </div>
    </main>
</div>
{% endblock %}