{% extends 'base.html' %}

{% block main %}
<title>Crypto Monster</title>

<div class="faza">
    <h2>Время старта системы:  {{ unixToDatetime }}</h2>
    <h2>Фаза системы:  {{ faza }}</h2>

    <p>PrivateProvider 0x511cC355Ab72Ed3187Ed628E4C5ff36a934Ed006 login: ere | password: ere</p>
    <p>PublicProvider 0x747CDaE330AC4cfE8656aC1981a4EF4204f8D8af login: test | password test</p>
    <p>User 0xB33909c36DeD414c5c4BeB7512300Ea69015714E [Is not register]</p>
    <p>User 0x96af6CF5226aEFD698810E3514062287c444B963s [Is not register]</p>
    <p>KEY for all users: 123</p>

</div>

<div class="crow"></div>
    
{% endblock %}

